# Strings

## Creating strings
Strings are usually created in one of three ways. You can use single, double or triple quotes.

In [5]:
double_quotes_string = "Hello, world!"
print(double_quotes_string)

Hello, world!

In [6]:
triple_quotes_string = '''This is a multiline
string It covers more than
one line'''
print(triple_quotes_string)

This is a multiline
string It covers more than
one line

In [7]:
single_quotes_string = 'The bright red fox jumped the fence.'
print(single_quotes_string)

The bright red fox jumped the fence.

## using quotation marks inside quotation marks

In [10]:
first_variant = 'This is a "1st variant"'
print(first_variant)

This is a "1st variant"

In [9]:
second_variant = """this is a '2nd variant'"""
print(second_variant)

this is a '2nd variant'

In [11]:
third_variant = "this is a '3rd variant'"
print(third_variant)

this is a '3rd variant'

## String Concatenation
The ‘+’ operator concatenates the two strings into one.

In [12]:
string_one = "My dog ate "
string_two = "my homework!"
string_three = string_one + string_two
print(string_three)

My dog ate my homework!

## String Slicing

In [77]:
my_string = "This is String Slicing!"
my_string[8:-1]

'String Slicing'

## String Formatting

In [80]:
var = "cookies"
my_string = "I like %s and %s" % ("Python", var)
my_string

'I like Python and cookies'

In [ ]:
# integer
my_string = "%i + %i = %i" % (1,2,3)
my_string

In [84]:
# float
float_string = "%f" % (1.23)
float_string

'1.230000'

### Templates

In [85]:
print("%(value)s %(value)s %(value)s !" % {"value":"SPAM"})

SPAM SPAM SPAM !

In [86]:
"Python is as simple as {0}, {1}, {2}".format("a", "b", "c")

'Python is as simple as a, b, c'

In [87]:
xy = {"x":0, "y":10}
print("Graph a point at where x={x} and y={y}".format(**xy))

Graph a point at where x=0 and y=10

## Remove Whitespace
The `strip()` method removes any whitespace from the beginning or the end:

In [88]:
a = " Hello, World! "
print(a.strip())

Hello, World!

## Replace String

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

## String Methods
Strings have [some methods](https://www.w3schools.com/python/python_ref_string.asp)

All string methods returns new values. They do not change the original string.

In [21]:
"This is a string!".upper()

'THIS IS A STRING!'

In [16]:
my_string = "This is a string!" 
my_string.upper()

'THIS IS A STRING!'

In [19]:
"converts the first character to upper case".capitalize()

'Converts the first character to upper case'

In [22]:
"CONVERTS STRING INTO LOWER CASE".casefold()

'converts string into lower case'

In [ ]:
"Returns a centered string".center()

In [26]:
"Returns the number of times a specified value occurs in a string. For example - value".count("value")

2

In [23]:
"Returns an encoded version of the string".encode()

b'Returns an encoded version of the string'

In [28]:
"Returns true if the string ends with the specified value".endswith('value')

True

In [36]:
"H\te\tl\tl\to".expandtabs(5) # Sets the tab size of the string

'H    e    l    l    o'

In [37]:
"Searches the string for a specified value and returns the position of where it was found".find('position')

58

In [39]:
"Formats specified values in a string. In the basket {number_of_apples} apples".format(number_of_apples = 49)

'Formats specified values in a string. In the basket 49 apples'

In [44]:
"Searches the string for a specified value and returns the position of where it was found".index('string')

13

In [45]:
"Returns True if all characters in the string are alphanumeric".isalnum()

False

In [47]:
"asd".isalpha() # Returns True if all characters in the string are in the alphabet

True

In [48]:
"Returns True if all characters in the string are ascii characters".isascii()

True

In [49]:
"Returns True if all characters in the string are decimals".isdecimal()

False

In [51]:
"Returns True if all characters in the string are digits".isdigit()

False

In [50]:
"Returns True if the string is an identifier".isidentifier()

False

In [52]:
"Returns True if all characters in the string are lower case".islower()

False

In [54]:
"Returns True if all characters in the string are numeric".isnumeric()

False

In [53]:
"Returns True if all characters in the string are printable".isprintable()

True

In [56]:
"   ".isspace() # Returns True if all characters in the string are whitespaces

True

In [57]:
"Returns True if the string follows the rules of a title".istitle()

False

In [ ]:
"Returns True if all characters in the string are upper case".isupper()

In [62]:
"==".join(("John", "Peter", "Vicky")) # Converts the elements of an iterable into a string

'John==Peter==Vicky'

In [64]:
# Returns a left justified version of the string
txt = "apple"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

apple                is my favorite fruit.

In [65]:
"Converts a string into lower case".lower()

'converts a string into lower case'

In [70]:
# Returns a left trim version of the string
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [69]:
# Returns a left trim version of the string
txt = "     apple     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits apple      is my favorite

In [ ]:
# Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

In [ ]:
# Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

In [72]:
# Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

12

In [71]:
# Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

12

In [ ]:
# Returns a right justified version of the string
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

In [ ]:
# Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

In [ ]:
# Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

In [ ]:
# Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

In [ ]:
# Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"

x = txt.split()

print(x)

In [ ]:
# Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

In [ ]:
# Returns true if the string starts with the specified 
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

In [ ]:
# Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

In [ ]:
# Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

In [73]:
# Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [74]:
# Returns a translated string
# Replace any "S" characters with a "P" character:
# use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
# Converts a string into upper case
txt = "Hello my friends"
x = txt.upper()
print(x)

In [75]:
# Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

0000000050